{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {% if title %}
    <title>Instagram {{title}}</title>
    {% else %}
    <title>Instagram</title>
    {% endif %}

    {% block styles %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/basepics.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% endblock %}      
</head>

<body>
    {% include 'navbar.html' %}
    {% block content%}
    <div class="jumbotron jumbotron-fluid bg-dark mb-1 pb-3 pt-3">        
        <h2 class="display-5 text-center font-weight-bold text-white">Welcome to Instagram Photos Viewer!!!</h2>
    </div>
    {% endblock %}


    {% block scripts %}
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin="anonymous"></script>
    {% bootstrap_javascript %}
  
    {% endblock %}

    <div class="mb-4 pb-4"></div>
    <footer class="page-footer font-small primary-color-dark mt-4 pt-4">

        <!-- Copyright -->
        <div class="footer-copyright text-center py-4">© 2020 Copyright.
          <a href="https://github.com/sam2020-4">matata samuel</a>
        </div>
        <!-- Copyright -->
      
      </footer>

</body>
</html>



