
<nav class="navbar navbar-expand-lg  navbar-dark bg-dark">
    <div class="container-fluid">
      <div class="navbar-header navbb">
        <a class="navbar-brand" href="">Instagram</a>      
      </div> 
    
      <form class="form-inline" role="search" action="">
        <input class="form-control mr-sm-2" type="search" placeholder="Search Category" aria-label="Search" name="image">
        <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
  