<!--Navbar-->
<nav class=" navbar navbar-dark bg-dark text-white navbar-expand-lg sticky-top">
  <a class="navbar-brand font-weight-bold" href="{% url 'index' %}">InstaPics</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
    aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span></button>

  <div class="collapse navbar-collapse" id="basicExampleNav">
    <ul class="navbar-nav mr-auto">
        <li class="text-white nav-item">
          <a class="nav-link" href="{% url 'index' %}">Home</a>
        </li>        
    
      {% if user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href="{%url 'new-image'%}">Add Image</a>
      </li>
      {% endif %}        
      </ul>              

        <form class="form-inline" role="search" action="{% url 'search_results' %}">
          <input type="text" class="form-control" placeholder="Search" aria-label="Search" name="keyword">
          <button type="submit" class="btn btn-outline-white btn-md my-2 btn-sm">Search</button>
        </form>

        <div class="col-sm-6 col-lg-6 d-flex justify-content-end">
            {% if user.is_authenticated %}
            <ul class="nav navbar-nav navbar-right text-white">
              <li><a href="profile">Profile</a></li> &nbsp;
              <li><a href="/accounts/password/change">Change Password</a></li>&nbsp;
              <li><a href="/logout">Logout</a></li>
            </ul>
         
            {% else %}
            <!-- RIGHT CONTENT -->
            <ul class="nav justify-content-end">
              <li class="nav-item">
                <a class="nav-link font-weight-bold" href="/accounts/login"><span class="glyphicon glyphicon-log-in"></span> Login</a>
              </li>
              <li>
                <a class="nav-link font-weight-bold" href="/accounts/register"><span class="glyphicon glyphicon-user"></span>Register</a>
              </li>         
            </ul>

            {% endif %}
      </div>
  </div>    
  </nav>
