{%extends 'base.html'%} 
{% load bootstrap4 %}
{% block content %}

<div class=" container">
  <div class="">
    {% if images %}
    <div class="jumbotron-fluid">
        <div class="">
          <h2 class="display-6 text-center font-weight-bold">Found {{ images|length }} images for searched term {{message}}</h2>
        </div>
      </div>
    {% else %}
    <div class="jumbotron-fluid">
        <div class="">
          <h2 class="display-5 text-center font-weight-bold">Found 0 images for the searched term {{message}}</h2>
        </div>
      </div>
    {% endif %}
  </div>

  <div class="container">    
      <div class="row">
        <!-- Empty div -->
        <div class="col-lg-2"></div>    
        <div class="col-lg-6">     
            {% for image_item in images %}                    
            <div class="card mt-2 pb-2 mb-2">                
                <div class="card-footer text-dark font-weight-bold">
                    {{image_item.Author}}
                  </div>
    
                <!-- Card image -->
                <div class="view overlay">
                  <img class="card-img-top" src="{{image_item.image_file.url}}" alt="{{ image_item.image_name }}">
                  <a href="/image/{{image_item.id}}">
                    <div class="mask rgba-white-slight"></div>
                  </a>
                </div>    
                <!-- Card content -->
                <div class="card-body">  
                 
                  <p class="card-title font-weight-bold">{{ image_item.Author }} <span class="card-text ml-2"> {{ image_item.description }} </span></p> 
                  
                  {% for comment_item in comments %}
                  
                    {% if image_item.pk == comment_item.image.pk%}
                  <p> {{comment_item.author}} <span class=""> {{comment_item.comment}} </span> </p>
                  {% endif %}
    
                  {% endfor %}    
                  <div><small class="text-black-50">{{image_item.pub_date|timesince}} ago</small></div>
                </div>    
            </div>              
            {% endfor %}    
        </div>         
        <div class="col-lg-3"></div>
        <div class="col-lg-1"></div>    
      </div>
    </div>
                 
</div>
{% endblock %}